<h3 class="text-dark mb-4">Profile</h3>
<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow"><img id="profile-picture" class="rounded-circle mb-3 mt-4"
                    src="assets/img/avatars/avatar1.jpg" width="160" height="160" role="button" title="Change Photo">
                <h4> {{ user.firstName }} {{ user.lastName }}</h4>
                <h6> {{ user.role }}</h6>
            </div>
        </div>

        <div *ngIf="isRoleAdmin()" class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="text-primary fw-bold m-0">Subscription</h6>
            </div>

            <div *ngIf="!isSubscribed()" class="card-body text-center">
                <!-- Free Subscription -->
                <h4 style="color: #2ecc71;">Free</h4>
                <i class="fas fa-certificate" style="font-size: 24px; color: #2ecc71;"></i>
                <!-- Green checkmark icon -->
                <h6> Basic Features </h6>
                <button routerLink="../subscription/choose-subscription" class="btn btn-success">Upgrade to Premium</button>
            </div>

            <div *ngIf="isSubscribed()" class="card-body text-center">
                <h4 style="color: gold;">Premium</h4> <!-- Gold color for premium -->
                <i class="fas fa-certificate" style="font-size: 24px; color: gold;"></i> <!-- Gold checkmark icon -->
                <h6> Advanced Features </h6>
                <h6> Expires {{ subscription.endDate | date: 'short' }} </h6>

                <button class="btn btn-danger" (click)="cancelSubscription()">Cancel Subscription</button>
            </div>
            
        </div>

    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">User Info</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="editUserForm" *ngIf="!changePasswordMode" (ngSubmit)="onSaveInfo()">
                            <div class="row">

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="firstName">
                                            <strong>First Name</strong>
                                        </label>

                                        <div *ngIf="!editUserMode">
                                            {{ user.firstName }}
                                        </div>

                                        <div *ngIf="editUserMode">
                                            <input class="form-control" type="text" formControlName="firstName"
                                                name="firstName">
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="lastName">
                                            <strong>Last Name</strong>
                                        </label>

                                        <div *ngIf="!editUserMode">
                                            {{ user.lastName }}
                                        </div>

                                        <div *ngIf="editUserMode">
                                            <input class="form-control" type="text" formControlName="lastName"
                                                name="lastName">
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="!editUserMode && !changePasswordMode" class="mb-3">
                                <button (click)="toggleEditUserMode()" class="btn btn-primary btn-sm action-button"
                                    type="button">Edit Info</button>
                                <button (click)="toggleChangePasswordMode()" class="btn btn-primary btn-sm"
                                    type="button">Change Password</button>
                            </div>


                            <div *ngIf="editUserMode" class="mb-3">
                                <button class="btn btn-primary btn-sm" type="submit">Save Info</button>
                                <button (click)="toggleEditUserMode()" class="btn btn-danger btn-sm action-button"
                                    type="button">Cancel</button>
                            </div>
                        </form>

                        <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <div *ngIf="changePasswordMode">
                                            <input class="form-control" type="password"
                                                placeholder="Enter Current Password..."
                                                formControlName="currentPassword" name="currentPassword">
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="mb-3">
                                        <div *ngIf="changePasswordMode">
                                            <input class="form-control" type="password"
                                                placeholder="Enter New Password..." formControlName="newPassword"
                                                name="newPassword">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="changePasswordMode" class="mb-3">
                                <button class="btn btn-primary btn-sm" type="submit">Change Password</button>
                                <button (click)="toggleChangePasswordMode()" class="btn btn-danger btn-sm action-button"
                                    type="button">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Change Farm</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="changeFarmForm" (ngSubmit)="onChangeFarm()">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="city">
                                            <strong>Farm</strong>
                                        </label>
                                        <select formControlName="farm"
                                            class="d-inline-block form-select form-select-sm">
                                            <option value="" selected disabled> Select Farm </option>
                                            <option [ngValue]="farm" *ngFor="let farm of farms"> {{ farm.name }} / {{
                                                farm.location }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                </div>
                            </div>
                            <div class="mb-3">
                                <button class="btn btn-primary btn-sm" type="submit">Save&nbsp;</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>