<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-flex">
                            <div class="flex-grow-1 bg-login-image"
                                style="background-image: url(&quot;assets/img/login.jpg&quot;);"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark mb-4">Confirm Password Reset</h4>
                                </div>
                                <form class="user" [formGroup]="confirmPasswordRequestForm" (ngSubmit)="onResetPassword()">
                                    <div class="mb-3">
                                        <input formControlName="newPassword" class="form-control form-control-user"
                                            type="password" placeholder="Enter New Password..." name="newPassword">
                                    </div>
                                    <div class="mb-3">
                                        <input formControlName="confirmNewPassword" class="form-control form-control-user"
                                            type="password" placeholder="Confirm New Password..." name="confirmNewPassword">
                                    </div>
                                    <div class="mb-3">
                                    </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Reset Password</button>
                                </form>
                                <hr>
                                <div class="text-center"><a class="small" routerLink="/login">Already have an account?
                                        Login!</a>
                                    <div class="text-center"><a class="small" routerLink="/register">Create an
                                            Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>