<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow">
                <h4> {{ farm.name }}</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Farm Details</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="editFarmForm" (ngSubmit)="onEditFarm()">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="Farm Name">
                                            <strong>Farm Name</strong>
                                        </label>

                                        <div *ngIf="editMode">
                                            <input formControlName="farmName" class="form-control" type="text" placeholder="Enter new name..." name="Farm Name">
                                        </div>

                                        <div *ngIf="!editMode">
                                            {{ farm.name }}
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="Location">
                                            <strong>Farm Location</strong>
                                        </label>

                                        <div *ngIf="editMode"> 
                                            <input formControlName="farmLocation" class="form-control" type="text" placeholder="Enter new location..." name="Location">
                                        </div>

                                        <div *ngIf="!editMode"> 
                                            {{ farm.location }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="Farm Owner">
                                            <strong>Farm Owner</strong>
                                        </label>

                                        <div *ngIf="editMode">
                                            <select formControlName="farmOwner" class="form-select">
                                                <option value="" selected disabled> Select New Owner </option>
                                                <option [ngValue]="admin.id" *ngFor="let admin of admins"> {{ admin.email }}</option>
                                            </select>
                                        </div>

                                        <div *ngIf="!editMode">
                                            {{ farm.owner.email }}
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3" >

                                        <label class="form-label">
                                            <strong>Main Arduino Board</strong>
                                        </label>

                                        <div>
                                            <select *ngIf="editMode" formControlName="arduinoBoard" class="form-select">
                                                <option value="" selected disabled> Select New Owner </option>
                                                <option [ngValue]="arduinoBoard.id" *ngFor="let arduinoBoard of filterInactiveArduinoBoards()"> {{ arduinoBoard.name }}</option>
                                            </select>
                                        </div>

                                        <div *ngIf="farm.mainArduinoBoardId != 0 && !editMode">
                                            {{ getArduinoBoardName() }}
                                        </div>

                                        <div *ngIf="farm.mainArduinoBoardId == 0 && !editMode">
                                            Farm has no main arduino board
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div *ngIf="!editMode" class="mb-3">
                                <button (click)="toggleEditMode()" class="btn btn-primary btn-sm" type="button">Edit Farm</button>
                            </div>

                            <div *ngIf="editMode" class="mb-3">
                                <button class="btn btn-success btn-sm override-button-text-color" type="submit">Save</button>
                                <button (click)="toggleEditMode()" class="btn btn-primary btn-sm action-button" type="button">Cancel</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>