<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow">
                <h4> {{ plant.name }}</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Plant Details</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="editPlantForm" (ngSubmit)="onEditPlant()">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="plantName">
                                            <strong>Plant Name</strong>
                                        </label>

                                        <div *ngIf="!editMode">
                                            {{ plant.name }}
                                        </div>

                                        <div *ngIf="editMode">
                                            <input formControlName="plantName" class="form-control" type="text"
                                                placeholder="Enter Plant Name..." name="plantName">
                                            <div *ngIf="plantName?.invalid && (plantName?.dirty || plantName?.touched)"
                                                class="alert alert-danger mt-2 p-2">
                                                <div *ngIf="plantName.errors?.['required']" class="small text-muted">
                                                    Plant name is required
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="daysToMaturity">
                                            <strong>Days to Maturity</strong>
                                        </label>

                                        <div *ngIf="!editMode">
                                            {{ plant.daysToMaturity }}
                                        </div>

                                        <div *ngIf="editMode">
                                            <input formControlName="daysToMaturity" class="form-control" type="text"
                                                name="daysToMaturity">
                                            <div *ngIf="daysToMaturity?.invalid && (daysToMaturity?.dirty || daysToMaturity?.touched)"
                                                class="alert alert-danger mt-2 p-2">
                                                <div *ngIf="daysToMaturity.errors?.['required']" class="small text-muted">
                                                    Days to maturity is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="maximumEC">
                                            <strong>Maximum EC</strong>
                                        </label>

                                        <div *ngIf="!editMode">
                                            {{ plant.maximumEc }}
                                        </div>

                                        <div *ngIf="editMode">
                                            <input formControlName="maximumEc" class="form-control" type="text"
                                                name="maximumEC">
                                            <div *ngIf="maximumEc?.invalid && (maximumEc?.dirty || maximumEc?.touched)"
                                                class="alert alert-danger mt-2 p-2">
                                                <div *ngIf="maximumEc.errors?.['required']" class="small text-muted">
                                                    Maximum EC is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="minimumEC">
                                            <strong>Minimum EC</strong>
                                        </label>

                                        <div *ngIf="!editMode">
                                            {{ plant.minimumEc }}
                                        </div>

                                        <div *ngIf="editMode">
                                            <input formControlName="minimumEc" class="form-control" type="text"
                                                name="minimumEC">
                                            <div *ngIf="minimumEc?.invalid && (minimumEc?.dirty || minimumEc?.touched)"
                                                class="alert alert-danger mt-2 p-2">
                                                <div *ngIf="minimumEc.errors?.['required']" class="small text-muted">
                                                    Minimum EC is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="maximumPH">
                                            <strong>Maximum pH</strong>
                                        </label>

                                        <div *ngIf="!editMode">
                                            {{ plant.maximumPh }}
                                        </div>

                                        <div *ngIf="editMode">
                                            <input formControlName="maximumPh" class="form-control" type="text"
                                                name="maximumPH">
                                            <div *ngIf="maximumPh?.invalid && (maximumPh?.dirty || maximumPh?.touched)"
                                                class="alert alert-danger mt-2 p-2">
                                                <div *ngIf="maximumPh.errors?.['required']" class="small text-muted">
                                                    Maximum pH is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="minimumPH">
                                            <strong>Minimum pH</strong>
                                        </label>

                                        <div *ngIf="!editMode">
                                            {{ plant.minimumPh }}
                                        </div>

                                        <div *ngIf="editMode">
                                            <input formControlName="minimumPh" class="form-control" type="text"
                                                name="minimumPH">
                                            <div *ngIf="minimumPh?.invalid && (minimumPh?.dirty || minimumPh?.touched)"
                                                class="alert alert-danger mt-2 p-2">
                                                <div *ngIf="minimumPh.errors?.['required']" class="small text-muted">
                                                    Minimum pH is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="!editMode" class="mb-3">
                                <button (click)="toggleEditMode()" class="btn btn-primary btn-sm" type="button">Edit
                                    Plant</button>
                            </div>

                            <div *ngIf="editMode" class="mb-3">
                                <button [disabled]="editPlantForm.invalid" class="btn btn-success btn-sm override-button-text-color"
                                    type="submit">Save</button>
                                <button (click)="toggleEditMode()" class="btn btn-primary btn-sm action-button"
                                    type="button">Cancel</button>

                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>