<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table table-bordered my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Transaction Name</th>
                        <th>Amount</th>
                        <th>Ordered By</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let transaction of transactions">
                        <td> {{ transaction.name }}</td>
                        <td> {{ transaction.amount | currency: 'PHP' }} </td>
                        <td> {{ transaction.orderedBy }}</td>
                        <td>
                            <button (click)="onDetails(transaction.id)" type="button" class="btn btn-info action-button" title="View details">Details</button>
                            <button *ngIf="!isApproved(transaction) && isRoleSuperAdmin()" (click)="onApproveTransaction(transaction.id)" type="button" class="btn btn-success action-button" title="Remove transaction">Approve</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Transaction Name</strong></td>
                        <td><strong>Amount</strong></td>
                        <td><strong>Ordered By</strong></td>
                        <td><strong>Actions</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>