<div class="card shadow">
    <div class="card-body">
        <form [formGroup]="harvestLogsForm">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table table-bordered my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th> Plant Name </th>
                            <th> Date Harvested </th>
                            <th> Harvester </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let harvestLog of harvestLogs">
                            <td> {{ harvestLog.plantName }} </td>
                            <td> {{ harvestLog.harvestedDate | date: 'short' }} </td>
                            <td> {{ harvestLog.farmerLastName }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong> Plant Name </strong></td>
                            <td><strong>Date Harvested </strong></td>
                            <td><strong> Harvester </strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>

    </div>
</div>