<div class="card shadow">
    <div class="card-header py-3">
        <div class="card-container">
            <a class="btn btn-primary btn-sm farmers-card-button" routerLink="../add-device" role="button" href="#"><i
                    class="fa fa-plus fa-sm text-white-50"></i>&nbsp;Add Device</a>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="farmListForm">
            <div class="row align-items-center">
                <div class="col-md-3">
                    <label class="form-label">Show&nbsp;
                        <select class="d-inline-block form-select form-select-sm">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </label>
                </div>
      

                <div class="col-md-3">
                    <label class="form-label">Type&nbsp;
                        <select formControlName="deviceType" (change)="onChangeType()" class="d-inline-block form-select form-select-sm">
                            <option value="" selected disabled> Select Device Type </option>
                            <option value="sensors">Sensor</option>
                            <option value="pumps">Pump</option>
                            <option value="arduinoboards">Arduino Board</option>
                        </select>
                    </label>
                </div>


                <div class="col-md-3">
                    <label class="form-label">Search&nbsp;

                        <input type="search" class="form-control form-control-sm" placeholder="Search">
                    </label>
                </div>
            </div>

            <div class="table-responsive table mt-2" role="grid">
                <table class="table table-bordered my-0">
                    <thead>
                        <tr>
                            <th>Device Name</th>
                            <th>Device Type</th>
                            <th>Device Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let device of devices">
                            <td> {{ device.name }} </td>
                            <td> {{ deviceType }} </td>
                            <td> {{ device.status }}</td>
                            <td>
                                <button type="button" class="btn btn-info action-button"
                                    (click)="onDetails(device.id)" title="View details">Details</button>
                                <button type="button" class="btn btn-danger action-button"
                                    (click)="onDeleteDevice(device.id)" title="Remove device">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Device Name</strong></td>
                            <td><strong>Device Type</strong></td>
                            <td><strong>Device Status</strong></td>
                            <td><strong>Actions</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="row">
                <div class="col-md-6 align-self-center">
                    <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of
                        27
                    </p>
                </div>
                <div class="col-md-6">
                    <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                        <ul class="pagination">
                            <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span
                                        aria-hidden="true">«</span></a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                                        aria-hidden="true">»</span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </form>
    </div>
</div>