<div class="card shadow">
    <div class="card-header py-3">
        <div class="card-container">
            <a class="btn btn-primary btn-sm farmers-card-button" routerLink="../add-farm" role="button"><i class="fa fa-plus fa-sm text-white-50"></i>&nbsp;Add farm</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable"><label
                        class="form-label">Show&nbsp;<select class="d-inline-block form-select form-select-sm">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>&nbsp;</label></div>
            </div>
            <div class="col-md-6">
                <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input
                            type="search" class="form-control form-control-sm" aria-controls="dataTable"
                            placeholder="Search"></label></div>
            </div>
        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table table-bordered my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Farm Name</th>
                        <th>Farm Location</th>
                        <th>Farm Owner</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let farm of farms">
                        <td> {{ farm.name }} </td>
                        <td> {{ farm.location }} </td>
                        <td> {{ farm.owner.email }} </td>
                        <td>                    
                            <button type="button" class="btn btn-info action-button" (click)="onDetails(farm.id)" title="View details">Details</button>
                            <button type="button" class="btn btn-danger action-button" (click)="onDelete(farm)" title="Remove farm">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Farm Name</strong></td>
                        <td><strong>Farm Location</strong></td>
                        <td><strong>Farm Owner</strong></td>
                        <td><strong>Actions</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 align-self-center">
                <p id="dataTable_info" class="dataTables_info" role="status" aria-live="polite">Showing 1 to 10 of 27
                </p>
            </div>
            <div class="col-md-6">
                <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                    <ul class="pagination">
                        <li class="page-item disabled"><a class="page-link" aria-label="Previous" href="#"><span
                                    aria-hidden="true">«</span></a></li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span
                                    aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>