<div class="card shadow">
    <div class="card-header py-3">
        <div class="card-container">
            <a class="btn btn-primary btn-sm farmers-card-button" routerLink="../add-farm" role="button"><i class="fa fa-plus fa-sm text-white-50"></i>&nbsp;Add farm</a>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
        
        </div>
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table table-bordered my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Farm Name</th>
                        <th>Farm Location</th>
                        <th>Farm Owner</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let farm of farms">
                        <td> {{ farm.name }} </td>
                        <td> {{ farm.location }} </td>
                        <td> {{ farm.owner.email }} </td>
                        <td>                    
                            <button type="button" class="btn btn-info action-button" (click)="onDetails(farm.id)" title="View details">Details</button>
                            <button type="button" class="btn btn-danger action-button" (click)="onDelete(farm)" title="Remove farm">Delete</button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Farm Name</strong></td>
                        <td><strong>Farm Location</strong></td>
                        <td><strong>Farm Owner</strong></td>
                        <td><strong>Actions</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>