<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow"><img id="profile-picture" class="rounded-circle mb-3 mt-4"
                    src="assets/img/avatars/avatar1.jpg" width="160" height="160" role="button" title="Change Photo"> 
                <h4> {{ admin.firstName }} {{ admin.lastName }}</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Admin Details</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="username">
                                            <strong>Username</strong>
                                        </label>

        

                                        <div>
                                            {{ admin.username }}
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">
                                            <strong>Email Address</strong>
                                        </label>

                                        <div> 
                                            {{ admin.email }}	
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">
                                            <strong>First Name</strong>
                                        </label>

                                        <div> 
                                            {{ admin.firstName }}
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">
                                            <strong>Last Name</strong>
                                        </label>

                                        <div> 
                                            {{ admin.lastName }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>