<div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">Add Plant</h4>
                    </div>
                    <form class="user" [formGroup]="addPlantForm" (ngSubmit)="onAddPlant()">
                        
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="text"
                                formControlName="plantName" placeholder="Plant Name"
                                name="Plant Name">
                        </div>

                        <div class="mb-3">
                            <input class="form-control form-control-user" type="number"
                                formControlName="maximumEc" placeholder="Maximum EC"
                                name="Maximum EC">
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="number"
                                formControlName="minimumEc" step="any"placeholder="Minimum EC"
                                name="Minimum EC">
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="number"
                                formControlName="maximumPh" step="any"placeholder="Maximum pH"
                                name="Maximum pH">
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="number"
                                formControlName="minimumPh" step="any"placeholder="Minimum pH"
                                name="Minimum pH">
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="text"
                                formControlName="daysToMaturity" placeholder="Days to Maturity"
                                name="Days to Maturity">
                        </div>
                        <button class="btn btn-primary d-block btn-user w-100" type="submit">Add</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>