<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow"><img id="profile-picture" class="rounded-circle mb-3 mt-4"
                    src="assets/img/avatars/avatar1.jpg" width="160" height="160" role="button" title="Change Photo"> 
                <h4>Valerie Luna</h4>
                <h6>Admin</h6>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Device Details</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="username">
                                            <strong>Device Type</strong>
                                        </label>

        

                                        <div>
                                            Sensor
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">
                                            <strong>Device Status</strong>
                                        </label>

                                        <div *ngIf="!editMode"> 
                                            In Use
                                        </div>

                                        <div *ngIf="editMode">
                                            <select class="form-select"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                            <div *ngIf="!editMode" class="mb-3">
                                <button (click)="toggleEditMode()" class="btn btn-primary btn-sm" type="button">Edit Device Status</button>
                            </div>

                            <div *ngIf="editMode" class="mb-3">
                                <button class="btn btn-success btn-sm override-button-text-color" type="submit">Save</button>
                                <button (click)="toggleEditMode()" class="btn btn-primary btn-sm action-button" type="button">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>