<div class="row mb-3">
    <div class="col-lg-4">
        <div class="card mb-3">
            <div class="card-body text-center shadow">
                <h4> {{ transaction.name }}</h4>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="row">
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Transaction Details</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="username">
                                            <strong>Amount</strong>
                                        </label>

        

                                        <div>
                                            {{ transaction.amount }}
                                        </div>
                                        
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">
                                            <strong>Ordered By</strong>
                                        </label>

                                        <div> 
                                            {{ transaction.orderedBy }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">
                                            <strong>Transaction Date</strong>
                                        </label>

                                        <div> 
                                            {{ transaction.date | date:'medium'}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">
                                            <strong>Transaction Status</strong>
                                        </label>

                                        <div> 
                                            {{ transaction.status }}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label" for="email">
                                            <strong>Payment Method</strong>
                                        </label>

                                        <div> 
                                            {{ transaction.paymentMethod }}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">
                                            <strong> Order Items </strong>
                                        </label>

                                        <p *ngFor="let items of transaction.orderItems"> 
                                            {{ items.product.name }} QTY {{ items.quantity }}, PRICE {{ items.unitPrice | currency: 'PHP' }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>