<div class="card shadow">
    <div class="card-header py-3">
        <div class="card-container">
            <a class="btn btn-primary btn-sm farmers-card-button" routerLink="../add-plant" role="button" href="#"><i
                    class="fa fa-plus fa-sm text-white-50"></i>&nbsp;Add Plant</a>
        </div>
    </div>
    <div class="card-body">
        <form [formGroup]="plantListForm">
            <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
                <table class="table table-bordered my-0" id="dataTable">
                    <thead>
                        <tr>
                            <th>Plant Name</th>
                            <th>Days to Maturity</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let plant of plants">
                            <td> {{ plant.name }} </td>
                            <td> {{ plant.daysToMaturity }} </td>
                            <td>
                                <button type="button" class="btn btn-info action-button" title="View details"
                                    (click)="onDetails(plant.id)">Details</button>
                                <button type="button" class="btn btn-danger action-button"
                                    (click)="onDelete(plant.id)" title="Remove plant">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td><strong>Plant Name</strong></td>
                            <td><strong>Days to Maturity</strong></td>
                            <td><strong>Actions</strong></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>

    </div>
</div>