<h3 class="text-dark mb-4">Notifications</h3>
<div class="card shadow">
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table table-bordered my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Content</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let notification of notifications">
                        <td> {{ notification.date | date: 'short' }} </td>
                        <td> {{ notification.title }} </td>
                        <td> {{ notification.content }} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>