<div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">Add Farmer</h4>
                    </div>
                    <form class="user" [formGroup]="addFarmerForm" (ngSubmit)="onAddFarmer()">
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="text" formControlName="firstName"
                                placeholder="First Name" name="First Name">
                            <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)"
                                class="alert alert-danger mt-2 custom-rounded p-2">
                                <div *ngIf="firstName.errors?.['required']" class="small text-muted">
                                    First name is required
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="text" formControlName="lastName"
                                placeholder="Last Name" name="Last Name">
                            <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)"
                                class="alert alert-danger mt-2 custom-rounded p-2">
                                <div *ngIf="lastName.errors?.['required']" class="small text-muted">
                                    Last name is required
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="email" formControlName="emailAddress"
                                placeholder="Email" name="Email">
                            <div *ngIf="emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)"
                                class="alert alert-danger mt-2 custom-rounded p-2">
                                <div *ngIf="emailAddress.errors?.['required']" class="small text-muted">
                                    Email address is required
                                </div>

                                <div *ngIf="emailAddress.errors?.['email']" class="small text-muted">
                                    Input is invalid
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="text" formControlName="username"
                                placeholder="Username" name="Username">
                            <div *ngIf="username?.invalid && (username?.dirty || username?.touched)"
                                class="alert alert-danger mt-2 custom-rounded p-2">
                                <div *ngIf="username.errors?.['required']" class="small text-muted">
                                    Username is required
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="password" formControlName="password"
                                placeholder="Temporary Password" name="Password">
                            <div *ngIf="password?.invalid && (password?.dirty || password?.touched)"
                                class="alert alert-danger mt-2 custom-rounded p-2">
                                <div *ngIf="password.errors?.['required']" class="small text-muted">
                                    Passowrd is required
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select class="form-control form-control-user" formControlName="farm" placeholder="Farm"
                                name="Farm">
                                <option value="" disabled selected>Select Farm</option>
                                <option [ngValue]="farm.id" *ngFor="let farm of farms"> {{ farm.name }} </option>
                            </select>
                        </div>
                        <button [disabled]="addFarmerForm.invalid" class="btn btn-primary d-block btn-user w-100" type="submit">Add Farmer</button>
                    </form>

                    <hr>

                    <form class="user" [formGroup]="addFarmerBulkForm" (ngSubmit)="onAddFarmersBulk()">

                        <div class="mb-3">
                            <select class="form-control form-control-user" formControlName="farmBulk" placeholder="Farm"
                                name="Farm">
                                <option value="" disabled selected>Select Farm</option>
                                <option [ngValue]="farm.id" *ngFor="let farm of farms"> {{ farm.name }} </option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <input type="file" id="fileInput" style="display: none;">
                            <label for="uploadFile" class="form-label"><i class="fas fa-upload"></i> Upload Farmers
                                (.csv)</label>
                            <input (change)="onUploadFarmers($event)" class="form-control" type="file" id="uploadFile">

                        </div>

                        <div class="mb-3">
                            <button [disabled]="addFarmerBulkForm.invalid" class="btn btn-primary d-block btn-user w-100" type="submit">Upload CSV</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>