<div class="card shadow-lg o-hidden border-0 my-5">
    <div class="card-body p-0">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="p-5">
                    <div class="text-center">
                        <h4 class="text-dark mb-4">Add Farmer</h4>
                    </div>
                    <form class="user" [formGroup]="addFarmerForm" (ngSubmit)="onAddFarmer()">
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="text" formControlName="firstName"
                                placeholder="First Name" name="First Name">
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="text" formControlName="lastName"
                                placeholder="Last Name" name="Last Name">
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="email" formControlName="emailAddress"
                                placeholder="Email" name="Email">
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="text" formControlName="username"
                                placeholder="Username" name="Username">
                        </div>
                        <div class="mb-3">
                            <input class="form-control form-control-user" type="password" formControlName="password"
                                placeholder="Temporary Password" name="Password">
                        </div>
                        <div class="mb-3">
                            <select class="form-control form-control-user" formControlName="farm" placeholder="Farm"
                                name="Farm">
                                <option value="" disabled selected>Select Farm</option>
                                <option [ngValue]="farm.id" *ngFor="let farm of farms"> {{ farm.name }} </option>
                            </select>
                        </div>
                        <button class="btn btn-primary d-block btn-user w-100" type="submit">Add</button>
                        <hr>
                        <input type="file" id="fileInput" style="display: none;">
                    </form>


                    <div class="mb-3">
                        <label for="uploadFile" class="form-label"><i class="fas fa-upload"></i> Upload Farmers
                            (.csv)</label>
                        <input (change)="onUploadFarmers($event)" class="form-control" type="file" id="uploadFile">
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>