/* You can add global styles to this file, and also import other style files */
.bg-color-plantcare-green {
    background-color: rgba(23, 122, 23, 0.6);
}

.farmers-card-button {
    float: right;
}

.card-container {
    width: 100%;
}

.action-button {
    color: #f5f5f5 !important;
    margin: 3px;
}

.override-button-text-color {
    color: #f5f5f5 !important;
}

#profile-picture:hover {
    outline-style: solid;
}