<div class="card shadow">
    <div class="card-header py-3">
        <div class="card-container">
            <a class="btn btn-primary btn-sm farmers-card-button" routerLink="../checkout" role="button"
                (click)="onSaveOrder()">
                <i class="fas fa-shopping-cart fa-sm text-white-50"></i>&nbsp;Checkout</a>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive table mt-2" id="dataTable" role="grid" aria-describedby="dataTable_info">
            <table class="table table-bordered my-0" id="dataTable">
                <thead>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products">
                        <td><img class="rounded-circle me-2" width="150" height="150" src="{{ product.imageUrl }}">
                            {{ product.name }} </td>
                        <td> {{ product.unitPrice | currency: 'PHP' }}</td>
                        <td> {{ product.quantity }} </td>
                        <td>
                            <button type="button" class="btn btn-info action-button"
                                (click)="onIncrementQuantity(product)" title="Add"> + </button>
                            <button type="button" class="btn btn-danger action-button"
                                (click)="onDecrementQuantity(product)" title="Remove"> - </button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td><strong>Product Name</strong></td>
                        <td><strong>Price</strong></td>
                        <td><strong>Quantity</strong></td>
                        <td><strong>Actions</strong></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>